In [1]:
import pandas as pd
import numpy as np
social=pd.read_csv('D:/PYTHON/0_PROJECT/CSV Files/social media influencers - Youtube sep-2022.csv')
social.head()

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views\r\n,Avg. likes,Avg Comments,Category_3
0,1,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor
4,5,✿ Kids Diana Show,✿ Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys

In [2]:
def ctv(a):
    if a is not np.nan:
        if a.endswith('M'):
            return float(a[:-1]) * 1_000_000
        if a.endswith('K'):
            return float(a[:-1]) * 1_000
        else:
            return float(a)
    else:
        pass

In [3]:
social.info()
social.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.no          1047 non-null   int64
 1   Name          1047 non-null   object
 2   Youtuber      1047 non-null   object
 3   Country       868 non-null    object
 4    Subscribers  1047 non-null   object
 5   Category_2    746 non-null    object
 6   Avg. views
  1047 non-null   object
 7   Avg. likes    1047 non-null   object
 8   Avg Comments  1047 non-null   object
 9   Category_3    280 non-null    object
dtypes: int64(1), object(9)
memory usage: 81.9+ KB

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views\r\n,Avg. likes,Avg Comments,Category_3
0,1,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor
4,5,✿ Kids Diana Show,✿ Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys

In [4]:
social['Avg. views\r\n']=social['Avg. views\r\n'].apply(ctv)
social['Avg. likes']=social['Avg. likes'].apply(ctv)
social['Avg Comments']=social['Avg Comments'].apply(ctv)

In [5]:
social.head()

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views\r\n,Avg. likes,Avg Comments,Category_3
0,1,T-Series,tseries,India,224.4M,Music & Dance,141500.0,4600.0,125.0,NaN
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12500000.0,64800.0,0.0,NaN
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1900000.0,130500.0,7400.0,NaN
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44800000.0,2200000.0,70900.0,Humor
4,5,✿ Kids Diana Show,✿ Kids Diana Show,NaN,100.5M,Animation,6900000.0,34800.0,0.0,Toys

In [6]:
ct=social['Category_2'].dropna().unique().tolist()
ct

['Music & Dance',
 'Education',
 'Animation',
 'Video games',
 'Toys',
 'Movies',
 'News & Politics',
 'Daily vlogs',
 'Humor',
 'Design/art',
 'Fitness',
 'Beauty',
 'Food & Drinks',
 'DIY & Life Hacks',
 'Sports',
 'Science & Technology',
 'Health & Self Help',
 'Animals & Pets',
 'ASMR',
 'Mystery',
 'Fashion',
 'Travel',
 'Autos & Vehicles']

In [7]:
import random as r
from pandas import isnull
def rcat(a):
    if isnull(a):
        return r.choice('ct')
    else:
        return a
social['Category_2']=social['Category_2'].apply(rcat)

In [8]:
social.isnull().sum()

S.no                0
Name                0
Youtuber            0
Country           179
 Subscribers        0
Category_2          0
Avg. views\r\n      0
Avg. likes          0
Avg Comments        0
Category_3        767
dtype: int64

In [9]:
st=social['Country'].dropna().unique().tolist()
st

['India',
 'United States',
 'Brazil',
 'Mexico',
 'Russia',
 'Philippines',
 'Spain',
 'Thailand',
 'Colombia',
 'France',
 'Pakistan',
 'Indonesia',
 'Ecuador',
 'United Kingdom',
 'Turkey',
 'Saudi Arabia',
 'Argentina',
 'Iraq',
 'Japan',
 'Algeria',
 'Bangladesh',
 'Egypt',
 'Morocco',
 'Jordan',
 'Peru',
 'Somalia',
 'Malaysia']

In [10]:
import random as r
from pandas import isnull
def rcat(a):
    if isnull(a):
        return r.choice('st')
    else:
        return a
social['Country']=social['Country'].apply(rcat)

In [11]:
social.isnull().sum()

S.no                0
Name                0
Youtuber            0
Country             0
 Subscribers        0
Category_2          0
Avg. views\r\n      0
Avg. likes          0
Avg Comments        0
Category_3        767
dtype: int64

In [12]:
at=social['Category_3'].dropna().unique().tolist()
at

['Humor',
 'Toys',
 'Animation',
 'Movies',
 'Video games',
 'DIY & Life Hacks',
 'Health & Self Help',
 'Fashion',
 'Education',
 'Beauty',
 'News & Politics',
 'Food & Drinks',
 'Autos & Vehicles',
 'Design/art',
 'Science & Technology']

In [13]:
import random as r
from pandas import isnull
def rcat(a):
    if isnull(a):
        return r.choice('at')
    else:
        return a
social['Category_3']=social['Category_3'].apply(rcat)

In [14]:
social.isnull().sum()

S.no              0
Name              0
Youtuber          0
Country           0
 Subscribers      0
Category_2        0
Avg. views\r\n    0
Avg. likes        0
Avg Comments      0
Category_3        0
dtype: int64

In [17]:
from plotly.express import * 
ap=social.head(100)
gra=ap.groupby(['Country', 'Category_2'])
pivot=gra(index='Country', columns='Category_2', values='counts')
fig=bar(pivot, barmode='group', title='cats in counts') 
fig.update_layout(xaxis_title="Country", yaxis_title="category", xaxis={'categoryorder': 'total descending'})
fig.show()

TypeError: 'DataFrameGroupBy' object is not callable